*{background: gray}
header {
    width: 1400px;
    height: 40px;
    background: white;
    text-align: center;
    color: gray;
    margin: auto;
    padding-top: 15px;
}
nav{
    width: 1400px;
    height: 40px;
    background: white;
    text-align: center;
    color: gray;
    margin: auto;
    padding-top: 15px;
    margin-top: 10px;
}
section {
    
    color: gray;
    text-align: center;
    background: white;
    margin-top: 10px;
    width: 730px;
  
}
article {
    position: relative;
    bottom: 10px;
    color: white;
    text-align: center;
    background: gray;
    width: 710px;
    height: 170px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
}
.largebox {
    position: relative;
}
h1 {
    background: white;
    color: gray;
    width:690px;
    height: 60px;
    margin: 15px 10px 10px 10px;
}
p {
    background: white;
    color: gray;
    width: 690px;
    height: 60px;
    margin: auto;
}


div {
    width: 1400px;
    position: relative;
    margin: auto;
}
aside {
    background: white;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 660px;
    height: 218px;
    color: gray;
    text-align: center;

}
footer {
    text-align: center;
    background: white;
    color: gray;
    margin: auto;
    width: 1400px;
    height: 60px;

}